<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kailin.dao.chat.mapper.ChatReadRecordMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.kailin.dao.chat.entity.ChatReadRecord">
        <id column="id" property="id" />
        <result column="user_id" property="userId" />
        <result column="chat_id" property="chatId" />
        <result column="chat_log_id" property="chatLogId" />
        <result column="is_read" property="isRead" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, user_id, chat_id, chat_log_id, is_read, create_time, update_time
    </sql>

    <select id="getChatReadRecordListByCondition" resultMap="BaseResultMap">
        SELECT
            <include refid="Base_Column_List" />
        FROM chat_read_record
        <where>
            <if test="do.chatId != null and do.chatId != ''">
                chat_id = #{do.chatId}
            </if>
            <if test="do.chatLogId != null and do.chatLogId != ''">
                chat_log_id = #{do.chatLogId}
            </if>
            <if test="do.userId != null and do.userId != ''">
                user_id = #{do.userId}
            </if>
            <if test="chatIdList != null and chatIdList.size() > 0">
                AND chat_id IN
                <foreach collection="chatIdList" index="index" item="item" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
        </where>

    </select>

    <update id="updateReadRecord">
        UPDATE chat_read_record
        SET is_read = 1,update_time = now()
        WHERE
            chat_id = #{chatId}
            AND user_id IN
        <foreach collection="userIdList" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </update>

</mapper>
