<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kailin.dao.chat.mapper.ChatMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.kailin.dao.chat.entity.Chat">
        <id column="id" property="id" />
        <result column="chat_name" property="chatName" />
        <result column="chat_notice" property="chatNotice" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, chat_name, chat_notice
    </sql>

</mapper>
